body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: stretch;
}

body div {
    display: inline-block;
}

.mainContent-Container {
    position: fixed;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: space-between;



    right: 20px;
    top: 0px;
    bottom: 0px;
    left: 235px;

}

.left-side {
    width: 56%; 
    height: auto;

}

.right-side {
    /* width: 39%;  */
    width: 43%;
    height: auto;    
    margin-top: 20px;
    margin-left: 15px;



}

.left-header {
    width: 100%;
    display: flex;

    justify-content: left center;
    align-items: center;
    gap: 40px;


}

.title {
    display: inline-block;
    color: #E8658C;
    width: 100px;
    font-size: 36px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);

}



.searchbar {
    display: inline-block;

    background-color: #E8E8E8;
    color: gray;
    width: 700px;
    height: 40px;

    font-style: normal;
    font-weight:700;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;

    border-style: none;
    border-radius: 40px;

    display: flex;

    margin-left: 20px;
    

    
}


.searchbar input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
    width: 100%;
  }
  
  .searchbar input[type="search"]::placeholder {
    color: #bbb;
  }
  
  .searchbar button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
  }
  
  .searchbar button[type="submit"]:hover {
    opacity: 1;
  }
  
  .searchbar button[type="submit"]:focus,
  .searchbar input[type="search"]:focus {
    box-shadow: 0 0 3px 0 #1183d6;
    border-color: #1183d6;
    outline: none;
  }


.underline {
    background-color: #f5b5c9;
    width: 700px;
    height: 5px;
    border-radius: 10px;
}

.drinkselection {
    margin-top: 0px;
    background-color: #E8E8E8;
    width: 98%;
    padding: 10px;
    border-radius: 15px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 10px;
    
    height: 700px;  
    overflow-y: auto;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.25);

}

.drinkselection a:-webkit-any-link {
    text-decoration: none;
}

.item {

    width: 160px;
    height: 170px;
    margin-bottom: 10px;

    
}

.item img{
    width: 100%;
    height: 150px;

}

.item .image-container {
    position: relative;
}

.item .effect {
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 0px;
    background: rgba(222, 219, 219, 0.5);
    backdrop-filter: blur(1px);
    /* background-color: transparent; */
    display: flex;
    align-items: center;
    justify-content: center; 
}

.item .code {
    font-style: normal;
    font-weight:700;
    font-size: 18px;
    color: black;  
}

.item .nameandprice {
    font-style: normal;
    font-weight:700;
    font-size: 18px;
    color: #E8658C;
    margin-top: -15px;
    /* margin-bottom: 10px; */

    display: flex;
    justify-content: space-between;
}

.item .drinkname {
    display: inline;
}

.item .price {
    display: inline;

}

.item .image-container .actionButton {

    position: absolute;
    right: 0px;
    top: 0px;

    flex-grow: 2;

}

.item .image-container .actionButton .btn {
    height: 100%;
    border: none;
}

.item:hover .image-container .actionButton {
    display: flex;
}

.item:hover .image-container .actionButton .btn {
    display: inline-block;
}

.item .image-container .actionButton .btn:hover {
    background-color: #c8c8c8;
    color: white;
}

.add-new-container {
    width: 160px;
    height: 175px;
    background-color: white;
    border-radius: 10px;
    border-style: dashed;
    border-color: #E8658C;
    border-width: 1.5px;
    margin-bottom: 15px;

    display: block;      
    cursor: pointer;

}

.add-new-container .addsign {
    font-size: 30px;
    color: gray;
}

.add-new-container .addtext {
    font-style:normal;
    font-weight:500;
    font-size: 16px;
    color: #E8658C;
    margin-top: -10px;
    font-family: 'Quicksand', sans-serif;
}

.drinkinfo-header {
    background-color: #E8658C;
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
}

.drinkinfo-header .text {
    color: white;
    text-align: center;
    font-style: normal;
    font-weight:600;
    font-size: 24px;

}

.right-side .imageProduct-container {
    display: inline-block;
    width: 45%;
    height: auto;
    margin-left: 15px;
    margin-top: 30px;
}

.right-side .imageProduct-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
}

.right-side .info-right {
    
    display: inline-block;
    width: 45%;
    height: auto;

    margin-top: 30px;
    margin-left: 15px;

    font-style:normal;
    font-weight:500;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    color: #060505;
}



.right-side .info-right .details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    
    
}

.right-side .info-right .details .allSizeAndPrice {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    align-items: center;
    color: #E8658C;
    margin-left: auto;
    height: 30px;
}

.right-side .info-right .details .allSizeAndPrice p {
margin-top: 0px;
margin-bottom: 0px;
}
.right-side .info-right  .details .bold {
    font-weight:bold;
}

.right-side .info-bottom {
    width: 100%;
}

.right-side .info-bottom .details  {
    color: #060505;
    margin-top: 30px;
    margin-left: 15px;
    font-style:normal;
    font-weight:500;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}

#discription {
    text-align: justify;
}


.right-side .info-bottom .details .boldandcolor {
    color: #28A3B4;
    font-weight: bold;
    font-size: 24px;
}

#sidebar-activate{
    width: 190px;
    margin-left: auto;
    border-radius: 26px 0 0 26px;

    background-color: white;
    color: #343330;

    padding-left: 30px;

}

#sidebar-activate svg path {
    fill: #343330;

}






/* Popup Background */



/* Popup Background */

#popup-background {

    top: 0px;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3.5px);
    display: none;
    position: fixed;


    font-size: 20px;
    color: #131414;
    text-align: left;
    font-family: 'Quicksand';
}

#popup-background .card {
    position: absolute;
    margin: auto;
    top: calc(50% - (785.8px/2));

    width: 1556px;
    height: 785.8px;
    box-shadow: 0 1px 3px 0 rgba(201, 191, 191, 0.1), 0 1px 2px 0 rgba(0, 0, 0, .06);

}

#popup-background h1 {
    font-size: 50px;
    margin-top: 12px;
}

#popup-background p {
    margin-top: -40px;
}

#popup-background .p {
    box-sizing: border-box;


    background: #E8E8E8;
    border: 25px solid #E8E8E8;
    box-shadow: 0px 1px 3.00064px rgba(178, 24, 144, 0.25);
    border-radius: 10px;
    border-radius: 10px;
    margin-top: 5px;
    width: 55%;
    height: 20px;
    align-items: center;
    display: flex;
    align-items: center;
    text-align: center;

}

#popup-background .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: hsl(0, 0.0001%, 95%);
    background-clip: border-box;
    border: 0 solid rgba(215, 72, 72, 0.125);
    border-radius: .25rem;
    width: 60%;
    height: 500px;
}

#popup-background .p2 {
    box-sizing: border-box;
    position: absolute;
    left: 350px;
    top: 70px;
    background: #E8E8E8;
    border: 25px solid #E8E8E8;
    box-shadow: 0px 1px 3.00064px rgba(178, 24, 144, 0.25);
    border-radius: 10px;
    border-radius: 10px;
    margin-top: 5px;
    width: 55%;
    height: 20px;
    align-items: center;
    display: flex;
    align-items: center;
    text-align: center;
}

#popup-background .p3 {
    box-sizing: border-box;
    position: absolute;
    left: 350px;
    top: 130px;
    background: #E8E8E8;
    border: 25px solid #E8E8E8;
    box-shadow: 0px 1px 3.00064px rgba(178, 24, 144, 0.25);
    border-radius: 10px;
    margin-top: 5px;
    width: 55%;
    height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
}

#popup-background .p4 {
    box-sizing: border-box;
    position: absolute;
    left: 350px;
    top: 190px;
    background: #E8E8E8;
    border: 25px solid #E8E8E8;
    box-shadow: 0px 1px 3.00064px rgba(178, 24, 144, 0.25);
    border-radius: 10px;
    margin-top: 5px;
    width: 55%;
    height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
}

#popup-background .p5 {
    box-sizing: border-box;
    position: absolute;
    left: 350px;
    top: 250px;
    background: #E8E8E8;
    border: 45px solid#E8E8E8;
    box-shadow: 0px 1px 3.00064px rgba(178, 24, 144, 0.25);
    border-radius: 10px;
    border-radius: 10px;
    margin-top: 5px;
    width: 55%;
}

#popup-background .ppp1 {
    box-sizing: border-box;
    position: absolute;
    left: 400px;
    top: 440px;
    background: hsl(358, 47%, 62%);
    box-shadow: 0px 1px 3.00064px rgba(178, 24, 144, 0.25);
    border-radius: 10px;
    border-radius: 10px;
    width: 20%;
    height: 40px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.6444px 14.3626px;
    position: absolute;
    text-transform: uppercase;
    font-weight: 600;

    cursor: pointer;
}

#popup-background .ppp2 {
    box-sizing: border-box;
    position: absolute;
    left: 650px;
    top: 440px;
    background: hsl(150, 81%, 45%);

    box-shadow: 0px 1px 3.00064px rgba(178, 24, 144, 0.25);
    border-radius: 10px;
    border-radius: 10px;
    width: 20%;
    height: 40px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.6444px 14.3626px;
    position: absolute;
    text-transform: uppercase;
    font-weight: 600;

    cursor: pointer;
}

#popup-background input, #popup-background select {
    font-size: 20px;

}

#popup-background input[type=name] {
    padding: 20px 20px;
    margin: px 0;
    box-sizing: border-box;
    border: #bb1b88;
    height: px;
    position: absolute;
    left: 100px;
    top: -28px;
    background: h#9e1f94;
    border: px solid #9e1f94;
    box-shadow: 0px 1px 3.00064px rgba(183, 65, 157, 0.25);
    border-radius: 10px;
    border-radius: 10px;
    margin-top: 5px;
    width: 80%;
    height: 40px;
    color: rgb(22, 15, 15);
    align-items: center;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 0.1px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#popup-background select {
    margin: px 0;
    border: #d167af;
    position: absolute;
    left: 100px;
    top: -20px;
    bottom: 0;
    background: h#B6B6B6;
    border: px solid #B6B6B6;
    box-shadow: 0px 1px 3.00064px rgba(178, 24, 144, 0.25);
    border-radius: 10px;
    margin-top: 5px;
    width: 80%;
    height: 40px;
    color: rgb(18, 16, 16);
    align-items: center;

    margin: 8px 0;
    box-sizing: border-box;

}


#popup-background .priceConatiner  {
    position: absolute;
    top: -26px;
    left: 95px;
    width: 80%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 3;
    gap: 5px;

}
#popup-background input[type=price] {
    
    margin: px 0;
    box-sizing: border-box;
    border: #d167af;
    background: h#B6B6B6;
    border: px solid #B6B6B6;
    box-shadow: 0px 1px 3.00064px rgba(178, 24, 144, 0.25);
    border-radius: 10px;
    margin-top: 5px;
    height: 40px;
    width: calc((100% - 15px) / 3);
    padding-left: 5px;

    color: rgb(15, 13, 13);
    align-items: center;

    margin: 8px 0;
    box-sizing: border-box;
}

#popup-background input[type=note] {
    padding: 20px 20px;
    margin: px 0;
    box-sizing: border-box;
    border: #b32786;
    height: 95px;
    position: absolute;
    left: 80px;
    top: -46px;
    background: h#B6B6B6;
    border: px solid #B6B6B6;
    box-shadow: 0px 1px 3.00064px rgba(213, 88, 186, 0.25);
    border-radius: 10px;
    border-radius: 10px;
    margin-top: 5px;
    width: 88%;
    height: 75px;
    color: rgb(15, 12, 12);
    align-items: center;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 0.1px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-color: #000;
}

#popup-background .profile-pic {
    width: 300px;
    max-height: 300px;
    display: inline-block;
}

#popup-background .file-upload {
    display: none;
}

#popup-background .square {
    border-radius: 30% !important;
    overflow: hidden;
    width: 250px;
    height: 250px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 110px;
    left: 30px;
}

#popup-background img {
    max-width: 100%;
    height: auto;
}

#popup-background .p-image {
    position: absolute;
    top: 167px;
    right: 30px;
    color: #bd2828a6;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

#popup-background .p-image:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

#popup-background .upload-button {
    font-size: 1.2em;
}

#popup-background .upload-button:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    color: #999;
}


#popup-background .custom-select {
    position: relative;
    font-family: Arial;
}

#popup-background .custom-select select {
    display: none;
    /*hide original SELECT element:*/
}

#popup-background .select-selected {
    background-color: B6B6B6;
}

/*style the arrow inside the select element:*/
#popup-background .select-selected:after {
    position: absolute;
    content: "";
    top: 15px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #181616 transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/*style the items (options), including the selected item:*/
#popup-background .select-items div,
#popup-background .select-selected {
    color: #171313;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/
#popup-background .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: px;
    z-index: 99;
}

/*hide the items when the select box is closed:*/
#popup-background .select-hide {
    display: none;
}

#popup-background .select-items div:hover,
#popup-background .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

#DeletePopUp {
    top: 0px;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3.5px);
    display: none;
    position: fixed;


    font-size: 27px;
    color: #131414;
    text-align: left;
    font-family: 'Quicksand';
}

#DeletePopUp .popup-container{
    position: relative;
    width: 400px;
    height: 300px;
    background-color: #FFFFFF;
   
    border-radius: 7px;

    left: calc(50% - 400px/2);
    top: calc(50% - 300px/2);
}
#DeletePopUp .popup-container h1{
    text-align: center;
    padding-top: 10px;
    font-size: 40px;
}
#DeletePopUp .popup-container h3{
    text-align: center;
    margin-top: 35px;
    font-size: 20px;
    font-weight: 300px;
    
}
#DeletePopUp .done{
    width: 90%;
    margin: 50px auto;
    height: 55px;
    /* background-color: chartreuse; */
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}
#DeletePopUp .btn{
    width: 48%;
    height: 100%;
    /* background-color: chocolate; */
    
}
#DeletePopUp button{
    width: 100%;
    height: 100%;
    background-color: rgb(235, 230, 225);
    border: 0px;
    justify-content: space-between;
    border: 1.23684px solid #636363;
    border-radius: 9.89472px; 
    cursor: pointer;
}
#DeletePopUp .btn span{
    font-size: 17px;
    padding-left: 5px;
}
