body {
  /* display: grid; */
  /* place-content: center; */
  background-image: url("/static/img/login/cofffee.png");


  background-size:cover;

}

.h3{
  height: 12;
}
.flex-2div {
  display: flex;
  border-radius: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
  rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.input-field-en {
  outline: none;
  border-radius: 20px;
  margin-top: 5px;
  width: 90%;
  height: 20px;
  margin-bottom: 5px;
  border: 2px solid lightgray;
  padding: 10px 10px;
  cursor: pointer;
  background-color: rgb(245, 243, 243);  
 }
.lebel-text {
  font-family: sans-serif;
}

.submit {
  background-color: rgb(241, 108, 130);
  font-weight: bold;
  border-radius: 20px;

  margin-top: 50px;
  width: 95%;
  height: 40px;
  color: white;
  font-size: 18px;


}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #260321,
        #f09819
    );}

.div-content2 {
    height: 550px;
    width: 400px;
    background-color: rgba(244, 239, 239, 0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 25%;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(250, 243, 243, 0.1);
    box-shadow: 0 0 40px rgba(241, 229, 240, 0.6);
    padding: 50px 35px;
  
}




.div-content2 *{
    font-family: sans-serif;
    /* color: #1c1818; */
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.div-content2 h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    color: #10070e;
}

.div-content2 .items-center {

  display: flex;
  justify-content: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 10px;
    color: #10070e;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    font-size: 14px;
    font-weight: 300px; 
}
/* button{
    margin-top: 50px;
    width: 95%;
    height: 40px;
    background-color: black;
    color: white;
    padding: 15px 6px;
    font-size: 18px;
    border-radius: 5px;
} */

