

.left_main{
    width: 30%;
    height :700px;
    background-color: white;
    /* margin: auto; */
    margin-top: -20px;
}
.left_main .body1{
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.25);
    margin:15px auto;
    margin-left: 40px;
    border-radius: 15px;
    position: relative;
}
.body1 h1{
    color: #E8658C;
    font-size: 25px;
    margin-left: 20px;
}
.order{
    width: 95%;
    height: 85%;
    display: flex;
    padding-left: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.left{
    width: 100%;
    height: auto;
    /* background-color:red; */
}
.right p{
    margin-bottom: 90px;
}

.header{
    display: flex;
    width: 100%;
    height: 40px;
    /* background-color: #33ed68; */
}
.header .guess{
    width: 86%;
    height: 40px;
    padding-top: 10px;
    display: flex;
    /* background-color: royalblue; */
}
.header .table{
    width: 14%;
    height: 40px;
    padding-top: 10px;
    display: flex;
    /* background-color: rgb(23, 199, 41); */

}


.box{
    width: 100%;
    height: 60px;
    /* background-color: #2b2929; */
    display: flex;
    margin-top: 20px;
}
.sub_box{
    width: 85%;
    height: 100%;
    display: flex;
    border-radius: 10px;
    background-color: #E8E8E8;
}
.image{
    width: 12%;
    height: 80%;
    margin-top: 5px;
    /* background-color: blueviolet; */
}
.image img{
    width: 90%;
    height: 90%;
    margin-left: 5px;
}
.name{
    width: 50%;
    height: 80%;
    margin-top: 5px;
    margin-left: 10px;
    /* background-color: #33ed68; */
}
.price_of_pro{
    font-size: 20px;
    font-weight: bold;
}
.size{
    width: 25%;
    height: 80%;
    text-align: center;
    margin-top: 5px;
    /* background-color: rgb(162, 160, 160); */
}
.num_of_size{
    font-size: 20px;
    font-weight: bold;
}


.quantity{
    width: 25%;
    height: 80%;
    margin-top: 5px;
    /* background-color: #EC5A5A; */
    
}
.negative{
    margin-top: 5px;
}
.sub_quantity{
    display: flex;
    text-align: center;
}
.num_of_qua{
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 4px;
}
.positive{
    margin-top: 2px;
}



.delete{
    width: 15%;
    height: 100%;
    /* background-color: #33ed68; */
    display: flex;
    /* justify-content: right; */
    align-items: center;
}
.edit{
    margin-left: 7px;
}
.sub_delete{
    margin-left: 7px;
}

.body1 .footer{
    position: absolute;
    width: 95%;
    height: 70px;

    margin-left: 20px;
    margin-top: 79px;
    bottom: 80px;
}
.footer span{
    margin-left: 350px;
}
.body1 .button{
    position: absolute;
    width: 100%;
    height: 60px;

    bottom: 10px;
    right: 10px;

    display: flex;
    justify-content: space-around;
}
.button_cancel{
    width: 45%;
    height: 80%;
    
}
.button_cancel button{
    width: 100%;
    height: 100%;
    border-radius: 7px;
    color: white;
    border: 0px;
    background-color: #EC5A5A;
}
.button_order{
    width: 45%;
    height: 80%;
}
.button_order button{
    width: 100%;
    height: 100%;
    border-radius: 7px;
    color: white;
    border: 0px;
    background-color: #28B44F;
}
