<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Options Dialog</title>
    <link rel="stylesheet" href="/static/css/option_dialog.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="order-options">
        <div class="header">
            <h2>Hot Green Tea</h2>
        </div>

        <div class="size-container">
            <hr>
            <p>Size</p>

            <div class="btn-container"> 
                <button >S</button>
                <button >M</button>
                <button >L</button>
            </div>
        </div>

        <div class="option-container">
            <hr>
            <p class="option-title">Options</p>
            <div class="collection">
                <div class="cream-sugar-zone">
                    <p>Cream</p>   
                </div>
                <input class="tick" type="checkbox">
            </div>

            <div class="collection">
                <div class="cream-sugar-zone">
                    <p>Sugar</p>   
                </div>
                <button>100%</button>
                <button>75%</button>
                <button>50%</button>
                <button>25%</button>
                <button>0%</button>
            </div>

            <div class="collection">
                <div class="cream-sugar-zone">
                    <p>Zone</p>   
                </div>
                <button>A</button>
                <button>B</button>
                <button>C</button>
                <button>D</button>
                <button>E</button>

            </div>

            
            
            
        </div>
        
        <div class="cancel-done-container">
            <button class="cancel">Cancel</button>
            <button class="done">Done</button>
        </div>
    </div>
    
</body>
</html>