*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.container{
    width: 90%;
    height: 750px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content{
    width: 100%;
    height: 8%;
    background-color:#E8658C;
    display: flex;
    align-items: center;
}
.pf{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}
.pf svg{
    width: 40px;
    height: 40px;
    margin-left: 15px;
    color: white;
    position: relative;
}
.content p{
    position: absolute;
    top: 20px;
    left: 9%;
    color: azure;
}
.content span{
    margin-top: 13px;
    margin-left: 20px;
    font-size: 11px;
    color: gainsboro;
}
.catagory{
    width: 30%;
    height: 100%;
    cursor: pointer;
    transition: all 1s;
}
.catagory:hover{
    background-color: brown;
}
.c2 svg {
    margin-left: 50px;
    cursor: pointer;
}
.c3 svg {
    margin-left: 50px;
    cursor: pointer;
    transition: all 1s;
}
.c3 svg:hover{
    fill: aliceblue;
    text-decoration: underline;
}
nav{
    margin-left: 30px;
    font-size: 12px;
    color:azure;
}
.logo{
    width: 30%;
    height: 100%;
}
.logo svg{
    margin-left: 85%;
}
.main{
    width: 100%;
    height: 90%;
}