*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family:  Quicksand;
}
.container{
    width: 90%;
    height: 750px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.content_left{
    width: 15%;
    height: 100%;
    background-color:#E8658C;
}
.content_left ul li{
    list-style-type: none;
    padding: 20px;
    color: white;
    cursor: pointer;
}
ul li i{
    color: none;
    background-color: none;
    padding: 9px;
}
.content_right{
    width: 80%;
    height: 100%;
    background-color: #fff;
}
table{
    border-collapse: collapse;
    width: 100%;
}
table tr th{
    border: 1px solid #E8658C;
    background-color: #E8658C;
    text-align: center;
    color: white;
    padding: 8px;
    -webkit-box-shadow: 0 10px 6px -6px #E8658C;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #E8658C;

}
table tr td{
    text-align: center;
    padding: 7px;
}