*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:  'Quicksand';
}

.main{
    width: 100%;
    height: 730px;
    /* background-color: gray; */
    display: flex;
}

.left_main{
    width: 60%;
    height: 100%;
    /* background-color: chartreuse; */
}
.left_main .body1{
    width: 94%;
    height: 90%;
    /* background-color: white; */
    margin:90px auto;
}
.body1 .box{
    width: 90%;
    height: 70%;
    /* background-color: crimson; */
    margin-left: 40px;
    margin-top: 40px;
   
}
.sub_box{
    width: 100%;
    height: 80px;
    /* background-color: cornflowerblue; */
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.cercle{
    width: 80px;
    height: 80px;
    font-weight: 800px;
    background-color: #e8e8e8;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.1px;
    border-color: #737272 ;
}
.cercle:hover{
    background-color: #E8658C;
    color: white;
}
.cercle1{
    width: 80px;
    height: 80px;
    background-color: gray;
    border-radius: 50%;
}
.cercle  p{
    text-align: center;
    margin-top: 25px;
    font-size: 25px;
}
.cercle1  p{
    text-align: center;
    margin-top: 25px;
    font-size: 25px;
}

.right_main{
    width: 40%;
    height: 100%;
    /* background-color: cadetblue; */
}
.right_main .body2{
    width: 94%;
    height: 85%;
    background-color: white;
    margin:90px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgb(162, 160, 160);
}
.footer{
    display: flex;
    margin-top: 70px;
    width: 100%;
    height: 80px;
    /* background-color: cornflowerblue; */
}
.footer .tex{
    width: 70%;
    height: 100%;
    /* background-color: darkgreen; */
}
.tex h3{
    padding: 5px;
}
.footer.botton{
    width: 30%;
    height: 100%;
    /* background-color: cyan; */
}
.footer button{
    margin-left: 40px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 2px 5px #0c0808;
    background-color: #28B44F;
}
.header{
    width: 95%;
    margin: auto;
    height: 50px;
    padding-top: 10px;
    background-color: cornflowerblue;
}
.order{
    display: flex;
    
}
.guess{
    width: 50%;
    height: 40px;
    padding-left: 10px;
    /* background-color: cornflowerblue; */
}
.table{
    width: 50%;
    height: 40px;
    /* background-color: darkcyan; */
}
.moment{
    width: 20%;
    height: 100px;
    /* background-color: cyan; */
    margin-top: 200px;
    margin-left: 245px;
}